/* configuracion inicial */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html{
    scroll-behavior: smooth;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Mulish", sans-serif;
    background-color: #f2f2f2;
    color: #000;

}

/* barra de navegacion */

nav {
    width: 100%;
    background-color: #591505;
    color: #fff;
    position: fixed;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #d99c79;
}

.icono {
    width: 24px;
    height: 24px;
    filter: invert(1);
    position: relative;
    top: 5px;
    /* left: -3px; */
}

.btn-subir {
    width: 80px;
    height: 45px;
    background-color: #591505;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 150;

    transition: all 1s;

}

.btn-subir p {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    text-shadow: 1px 1px 5px #fff;
}

.btn-subir:hover {
    width: 90px;
    background-color: #fff;
    color: #591505;
    text-shadow: 1px 1px 5px #000;
    border: 2px solid #000;
}

/* formato del header principal */

header {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/img/code1.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.fondo_titulo {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 40vh;
    background-color: #8c563773;
}

.titulo_principal {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin: 20px auto;
}

.titulo_secundario {
    text-align: center;
    font-size: 32px;
    color: #fff;
    margin: 10px auto;
}

/* formato de las secciones del main */

.contenedor {
    margin-top: 15px;
    width: 95%;
    text-align: justify;
    margin: auto;
}

.contenedor p {
    margin: 15px 0;
    line-height: 150%;
}

.contenedor_franja {
    background-color: #8c563773;
}

/* formato del footer */

footer {
    width: 100%;
    background-color: #591505;
    color: #fff;
    display: flex;
    justify-content: space-around;

}

.redes_sociales li {
    list-style: none;
    margin-top: 10px;
}

/* formato del formulario */

.formulario {
    width: 80%;
    margin: 50px auto;
    color: #fff;
    padding: 15px;
}

.formulario h2 {
    margin: 10px 0;
}

input,
textarea {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.guardar {
    width: 100%;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    padding: 15px 20px;
}

.cancelar {
    width: 100%;
    font-size: 16px;
    background-color: #591505;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    padding: 15px 20px;
}

/* formato de la galeria */

.contenedor_galery {
    max-width: 1200px;
    margin: 16px auto;
    padding: 10px 0;
    color: #fff;
}

.galery {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;

}

.galery img {
    width: 100%;
    height: 100%;
}

.uno {
    grid-column: 1 / 7;
}

.dos {
    grid-column: 7 / 13;
}

.tres {
    grid-column: 1/5;
}

.cuatro {
    grid-column: 5/9;
}

.cinco {
    grid-column: 1/9;
    grid-row: 3/4;
}

.seis {
    grid-column: 9/13;
    grid-row: 2/4;
}

@media (max-width:900px) {

    .titulo_principal{
        font-size: 32px;
    }

    .titulo_secundario{
        font-size: 24px;
    }

    .fondo_titulo{
        height: auto;
        padding: 15px 0;
    }

    .formulario{
        width: 90%;
    }

    .contenedor_galery {
        width: 90%;
    }

    .galery {
        margin: 10px auto;
    }

    .galery img {
        height: 300px;
    }

    .cinco {
        grid-column: 1/13;
        grid-row: 3/4;
    }

    .seis {
        grid-column: 9/13;
        grid-row: 2/3;

    }

}


@media (max-width: 768px) {

     .titulo_principal{
        font-size: 24px;
    }

    .titulo_secundario{
        font-size: 18px;
    }

    .fondo_titulo{
        height: 20vh;
        
    }

    .formulario{
        width: 100%;
    }

    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:25px;
        padding: 30px 0;
    }



    .galery {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
    }

    .galery img {
        height: 200px;
    }

    .uno,
    .dos,
    .tres,
    .cuatro,
    .cinco,
    .seis {
        grid-column: 1/13;
    }






}